{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img class="logo" src="{% static 'notes/img/logo-getit.png' %}">
  <p>Como o Post-it, mas com outro verbo</p>
</div>

<main class="container">
  <form class="form-card" method="post">
      {% csrf_token %}
    <label for="titulo">Título</label>
    <input class="form-card-title" id="titulo" type="text" name="titulo" />
    <label for="detalhes">Detalhes</label>
    <textarea class="autoresize" id="detalhes" name="detalhes"></textarea>
    <input class="btn" type="submit" />
  </form>

  <ul class="card-container">
      {% for note in notes %}
      <li class="card card-title">{{note.title}}</li>
      {% endfor %}
  </ul>
</main>
{% endblock %}
